<div class="container">
  <h1>Routing and Navigation</h1>
  <nav>
    <a routerLink="/departments" routerLinkActive="active">Departments</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
  </nav>
  <!-- <app-child></app-child>
  <app-classbinding></app-classbinding> -->
  <!-- <app-stylebinding></app-stylebinding> -->

  <!-- <app-templatevariable></app-templatevariable> -->


  <!-- <app-directives></app-directives> -->

  <!-- <app-child1 (childEvent)="message=$event"  [parentData]="name"></app-child1> -->

  <!-- <h2>Data from Child:{{message}}</h2> -->

  <!-- <app-employee-list></app-employee-list>
  <hr>
  <app-employee-detail></app-employee-detail> -->

  <!-- <app-pipes></app-pipes> -->

  <router-outlet></router-outlet>
  <!-- Router views are displayed here -->
</div>
